.app {
  --bg-color: #eef7ff;
  --inverted-bg-color: #2e3038;

  --primary-color: #035694;
  --secondary-color: #003e59;

  --inverted-primary-color: #028dff;
  --inverted-secondary-color: #0675d3;

}